#score {
   background-color: aquamarine;
   width: 91%;
   padding: 2%;
   text-align: center;
   position: absolute;
   bottom: 12.5%;
   border-radius: 5px;
}



.all_properties_flex {
   display: flex;
   flex-direction: row;
}

.table-responsive {
   max-width: 100%;
}

#panel1_btn {
   position: absolute;
   bottom: 21.5%;
   width: 91%;
}

#exp-title {
   position: relative;
   top: 10%;
   background-color: rgb(144, 175, 233);
   padding: 2%;
   text-align: center;
   border-radius: 10px;
   font-weight: 600;
}

.close-btn {
   position: absolute;
   /* left: -40%; */
   bottom: 4%;
   width: 91%;
   /* padding: 2%; */
   /* border-radius: 5px; */
   /* color: white; */
   /* cursor: pointer; */
   /* background-color: #FF6969 */
}


td,
tr {
   font-size: calc(.8vw + 4px);
   height: 1vw !important;
}

#left-semi {
   width: 200px;
   height: 200px;
   border: 2px solid black;

   border-radius: 50%;
}

#right-semi {
   position: absolute;

   width: 200px;
   height: 200px;
   border: 2px solid black;

   left: 211px;
   bottom: 515px;
}